* {
    background-color: lightblue;
}

#main-heading {
    text-align: center;
}

.image-links {
    height: 300px;
    width: auto;
    float: left;
    margin-right: 100px;
    margin-left: 150px;
}

.image-links img {
    height: 300px;
    width: auto;
}
